{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="section-description">
    {{ .Content }}
</div>

<div class="archive-list">
    <ul class="post-list" style="margin-top: 20px;">
        {{ range .RegularPagesRecursive.ByDate.Reverse }}
        <li>
            {{ if .Date }}
            <span class="date-short" style="width: 150px;">{{ .Date.Format "2 January, 2006" }}</span>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}


